{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set features = page.header.about_company_features %}
{% set image = page.media[module.image] %}

{% block render_block %}
	<div class="about-about-company-top-wrapper slide-up {{ module.parent_classes }}">
		<div class="container">

			<div class="contents-wrapper {{ module.child_classes }}">


				<div class="company-contents {{ module.direction }}">
					<div class="right-content-wrapper">
						{% if image != null %}
							<div class="image">
								{% if module.img_on_content != null %}
									<img data-aos="fade-up" data-aos-delay="1600" class="img-on-content" src="{{ page.media[module.img_on_content].url() }}"/>
								{% endif %}

								<img data-aos="fade-up" data-aos-delay="1600" class="main-img" src="{{ image.url }}" alt="About Company Image"/>

								{% if module.overlay_image != null %}
									<img data-aos="fade-up" data-aos-delay="1600" class="overlay-image" src="{{ page.media[module.overlay_image].url() }}"/>
								{% endif %}
							</div>
						{% endif %}
						<div class="contents">
							{% if page.header.about_company_features | length > 0 %}
								<div class="contents-list">
									{% for item in page.header.about_company_features %}
										{% set icon = page.media[item.icon] %}
										{% set threeStepDuration = 1000 + (loop.index0 * 300) %}

										<div class="contents-list-item" data-aos="slide-up" data-aos-delay="{{ threeStepDuration }}">
											<div class="icon">
												{% if icon != '' %}
													<img src="{{ icon.url }}" alt="">
												{% endif %}
												<h4 class="title">{{ item.title.translatable|raw }}</h4>
											</div>
											<div class="description">
												<p>{{ item.brief.translatable }}</p>
											</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						</div>
					</div>


					<div class="header-content">
						{% if module.header_title != null %}
							<h3 data-aos="slide-up" data-aos-delay="1000">{{ module.header_title.translatable|striptags('<span>')|raw }}</h3>
						{% endif %}

						{% if module.header_desc != null %}
							<p data-aos="slide-up" data-aos-delay="1300">{{ module.header_desc.translatable|raw }}</p>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
