{% set breadcrumb_text_color = 'text-primary' %}

<div class="{{ max_width }} {{ section_padding }} flex-1 w-full py-24 no-hero-header bg-primary-light">
	<div class="paragraph no-hero slide-up container">
		<div class="no-hero-title-wrapper">
			<h1 class="display-1 mb-3 {{breadcrumb_text_color}}">{{ title }}</h1>
			<nav class="d-inline-block no-hero-breadcrumb" aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% for index, link in links %}
						{% set last = index + 1 == links|length %}
						<li class="breadcrumb-item {{breadcrumb_text_color}} {{ last ? 'active' : '' }}">
							{% if link.url %}
								<a href="{{ link.url }}" class="{{breadcrumb_text_color}}">{{ link.title }}</a>
							{% else %}
								{{ link.title }}
							{% endif %}
						</li>

						{% if index + 1 != links|length %}
							<li class="breadcrumb-item arry {{breadcrumb_text_color}}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
								</svg>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
			</nav>
		</div>
	</div>
</div>
