{% set body_classes = "page-contact"%}
{% extends 'partials/base.html.twig' %}

{% block article %}
    {% include 'partials/no-hero-header.html.twig' with {
        'title': page.header.title,
        'links': [
            {
                'url': '/' ~ grav.language.getActive,
                'title': "VARIABLE.HOME"|t
            },
            {
                'title': page.header.title|t

            }
        ]
    } %}

    <div class="contact-section-wrapper">
        <div class="container">
            <div class="contact-inner">
                <div class="email-section">
                    <div class="text-content">

                        <h3 class="text-brand">{{ 'VARIABLE.SEND_AN_EMAIL'|t }}</h3>
                        <p>{{ 'VARIABLE.CONTACT_INFO_DESC'|t }}</p>
                    </div>
                    {% include 'forms/form.html.twig' with {form: forms('contact-us'), action: '#'} %}
                </div>
                <div class="contact-section">
                    <p>{{ 'VARIABLE.EMAIL'|t }}: <a href="mailto:{{ webdata('support_email') }}" target="_blank" rel="noopener noreferrer"><span class="span">{{ webdata('support_email') }}<br /></span></a></p>
                    <p>{{ 'VARIABLE.PHONE'|t }}: <a href="tel:{{ webdata('support_phone') }}" target="_blank" rel="noopener noreferrer"><span class="span">{{ webdata('support_phone') }}<br /></span></a></p>
                    <p>{{ 'VARIABLE.HOURS'|t }}: <span class="span">{{ webdata('support_hours') }}<br /></span></p>
                    <p>{{ 'VARIABLE.ADDRESS'|t }}: <span class="span"> {{ webdata('company.address') }}, {{ webdata('company.city') }}, {{ webdata('company.postcode') }}, {{ webdata('company.country') }}</span></p>
                    <p>{{ 'VARIABLE.BUSINESS_NUMBER'|t }}: <span class="span"> {{ webdata('company.business_number') }}</span></p>
                    <p> {{ 'VARIABLE.VAT'|t }}: <span class="span"> {{ webdata('company.vat_numbers.0.number') }}</span></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
